pandas
openpyxl
nltk
matplotlib
wordcloud
transformers 
einops 
accelerate 
bitsandbytes 
langchain_huggingface
torch
scikit-learn
ipywidgets
jupyter
datasets
torchinfo
streamlit
seaborn
plotly